ion-grid {
  padding: 16px;
}

ion-button {
  margin: 16px;
}

ion-datetime {
  --color: #333;
  --padding-start: 0;
  --padding-end: 0;
  --background: transparent;
}

ion-picker-column {
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}
